@using foodzcore.Pages.Login
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/foodzcore.styles.css" asp-append-version="true" />
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
            <div class="container">

                <div>
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img class="foodzcorelogoimage" src="/images/foodzcore_logo.png">
                    </a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Recipes/ExploreRecipes">Explore</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav">
                        @{
                            if (LoginModel.LoggedInUser == null)
                            {
                                <li class="nav-item">
                                    <div class="universal-button-wrapper">

                                        <button class="login-button" role="button">
                                            <a class="nav-link" asp-area="" asp-page="/Login/Login">Login</a>
                                        </button>

                                    </div>
                                </li>
                            }
                            else if (LoginModel.LoggedInUser != null)
                            {
                                <li class="nav-item nav-link text-dark me-3">
                                    <a class="nav-link text-dark displayuseroptions" asp-area="" asp-page="/Profile/UserProfile">@LoginModel.LoggedInUser.Username</a>
                                </li>
                                <li>
                                    <div class="hiddenuseroptions">
                                        <div class="universal-button-wrapper">
                                            <button class="login-button" role="button">
                                                <a class="nav-link" asp-area="" asp-page="/Login/Logout">Logout</a>
                                            </button>
                                        </div>
                                    </div>
                                </li>    

                                // <li class="nav-item">
                                //     <div class="universal-button-wrapper">

                                //         <button class="login-button" role="button">
                                //             <a class="nav-link" asp-area="" asp-page="/Login/Logout">Logout</a>
                                //         </button>

                                //     </div>
                                // </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>