@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a class="nav-link" style="text-align:center;" asp-area="" asp-page="/Recipes/RecipeCRUD/CreateRecipe">Create New Recipe</a>
</main>
