@page
@model foodzcore.Pages.Profile.UserProfileModel
@{
    
}


<h1>@ViewData["Title"]</h1>

<p>Username: @Model.ActiveUser.Username</p>
<p>Email: @Model.ActiveUser.Email</p>
<p>Role: @Model.ActiveUser.Role</p>